{% extends "layout.html" %}

{% block title %}
    Make Picks
{% endblock %}

{% block main %}
    <h1>
        <p>
            MAKE PICKS
        </p>
    </h1>
        <h4>
            <table align = "center", cellpadding = "10">
                <tr>
                    <th>
                        FAV TEAM
                    </th>
                    <th>
                        DOG TEAM
                    </th>
                </tr>

        <form action="{{ url_for('make_picks') }}" method="post">
            <fieldset>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="radio" id="game 1 Week 3h" name="Week 3 Game 1" value="{{ all_games_conf[0]['fav_team'] }}">
                            <label for="game 1 Week 3h">{{ all_games_conf[0]['fav_team'] }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="radio" id="game 1 Week 3a" name="Week 3 Game 1" value="{{ all_games_conf[0]['dog_team'] }}">
                            <label for="game 1 Week 3a">{{ all_games_conf[0]['dog_team'] }}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="radio" id="game 2 Week 3h" name="Week 3 Game 2" value="{{ all_games_conf[1]['fav_team'] }}">
                            <label for="game 2 Week 3h">{{ all_games_conf[1]['fav_team'] }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="radio" id="game 2 Week 3a" name="Week 3 Game 2" value="{{ all_games_conf[1]['dog_team'] }}">
                            <label for="game 2 Week 3a">{{ all_games_conf[1]['dog_team'] }}</label>
                        </div>
                    </td>
                </tr>

            </table>
        </h4>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit Picks</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
