{% extends "layout.html" %}

{% block title %}
    View Picks
{% endblock %}

{% block main %}

    <h1>
        <p>
            View Picks
        </p>
    </h1>
        <h4>
            <table align = "center", cellpadding = "10">
                <tr>
                    <th>
                        Username
                    </th>
        </h4>

            <h4>
                {% for rows in all_picks %}
            <tr>
                <td>
                    {{ rows['username'] }}
                </td>
            </tr>
            {% endfor %}

            </h4>
        </table>
{% endblock %}
