{% extends "layout.html" %}

{% block title %}
    View Picks
{% endblock %}

{% block main %}

    <h1>
        <p>
            View Picks
        </p>
    </h1>
        <h4>
            <table align = "center", cellpadding = "10">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Game 1 WC
                    </th>
                     <th>
                        Game 2 WC
                    </th>
                    <th>
                        Game 3 WC
                    </th>
                    <th>
                        Game 4 WC
                    </th>
                    <th>
                        Game 5 Div
                    </th>
                    <th>
                        Game 6 Div
                    </th>
                    <th>
                        Game 7 Div
                    </th>
                    <th>
                        Game 8 Div
                    </th>
        </h4>

            <h4>
                {% for rows in all_picks %}
            <tr>
                <td>
                    {{ rows['username'] }}
                </td>
                <td>
                    {{ rows['pick_1'] }}
                </td>
                <td>
                    {{ rows['pick_2'] }}
                </td>
                <td>
                    {{ rows['pick_3'] }}
                </td>
                <td>
                    {{ rows['pick_4'] }}
                </td>
                <td>
                    {{ rows['pick_5'] }}
                </td>
                <td>
                    {{ rows['pick_6'] }}
                </td>
                <td>
                    {{ rows['pick_7'] }}
                </td>
                <td>
                    {{ rows['pick_8'] }}
                </td>
            </tr>
            {% endfor %}

            </h4>
        </table>
{% endblock %}
